body {
  background-color: #FF8B39;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

.img {
  padding: 10px;
  border-radius: 20px;
}

.panel-orange {
  border-color: #ff6900
}

.panel-orange > .panel-heading {
  color: white;
  background-color: #ff6900;
  border-color: #ff6900;
}

.progress-bar-orange {
  background-color: #567DBF;
}

#projects {
  margin: 20px;
}

#welcome {
  text-align: justify;
  font-size: 20px;
  padding: 30px;
  font-weight: 200;
}

#two {
  margin: 100px:
}

#title {
  padding: 50px;
}

#caption {
  padding: 5px;
  text-align: center;
  float: center;
  font-family: serif;
}
