body {
  background-color: #EBE1DF;
}

h1 {
  text-align: center;
  font-family:
}

.img {
  float: right;
  padding: 200px;
  margin: 200px;
}

.panel-danger {
  margin: 30px;
  padding: 20px;
}

#welcome {
  text-align: left;
}

#two {
  margin: 100px:
}

#title {
  padding: 50px;
}

#caption {
  padding: 10px;
  text-align: center;
  float: center;
}
