body {
  background-color: #ff8c3b;
}

h1 {
  text-align: center;
  font-family:
}

.img {
  padding: 10px;
  border-radius: 20px;
}

.panel-orange {
  border-color: #ff6900
}

.panel-orange > .panel-heading {
  color: white;
  background-color: #ff6900;
  border-color: #ff6900;
}

#projects {
  margin: 20px;
}

#welcome {
  text-align: left;
}

#two {
  margin: 100px:
}

#title {
  padding: 50px;
}

#caption {
  padding: 10px;
  text-align: center;
  float: center;
}
